body { 
    background-color: #835e5e; 
}

main.container { 
    background-color:rgb(75, 73, 73); 
    box-shadow: 0px 0px 5px black; 
    border:1px solid black; 
    margin-top:15px; 
    color:white;
}

.error {
    border-color:red; 
}
.success {
    border-color:green; 
}

main.container a {
    color:rgb(231, 12, 12);
}

#button {
    color:white;
}
main.container a:visited {
    color:rgb(122, 7, 32);
}
main.container a:hover {
    color:rgb(255, 169, 183);
}
main.container a:active {
    color:rgb(255, 169, 183);
}